:root{
    --background-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 0%);
}

.pink{
    background-color: hsl(322, 100%, 66%);
}

.v.pale-cyan{
    background-color: hsl(193, 100%, 96%);
}

.v.dark-cyan{
    background-color: hsl(192, 100%, 9%);
}

.grayish-blue{
    background-color: hsl(208, 11%, 55%);
}
.white{
    background-color: hsl(0, 0%, 100%);
}